@import '~antd/es/style/themes/default.less';

html,
body,
#root {
  height: 100%;
}

.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  min-height: 100vh;
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}

@media (max-width: @screen-xs) {
  .ant-table {
    width: 100%;
    overflow-x: auto;
    &-thead > tr,
    &-tbody > tr {
      > th,
      > td {
        white-space: pre;
        > span {
          display: block;
        }
      }
    }
  }
}

// 兼容IE11
@media screen and(-ms-high-contrast: active), (-ms-high-contrast: none) {
  body .ant-design-pro > .ant-layout {
    min-height: 100vh;
  }
}

.ant-pro-sider-menu-logo h1{
  margin: 0 !important;
}
.ant-page-header{
  padding: 7px 24px !important;
}
.ant-pro-page-header-wrap-children-content {
  margin: 18px 18px 0 !important;
}
.info {
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border-radius: .25rem;
  background-color: #696969;
  position: relative;
  width: auto;
  max-width: 22rem;
  opacity: 0.85;
  border-width: 0;
  color: #fff;
  box-shadow: 0 2px 6px 0 rgba(114, 124, 245, .5);

  .title{
    text-align: center;
  }
  .close{
    position: absolute;
    right: 6px;
    top: 6px;
    cursor: pointer;
    width: 17px;
    height: 17px;
    text-align: center;
    background-image: url(./assets/close.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }
  .btnFix{
    margin:10px 0 0 30%;
  }
}

.chartItem{
  width: 100%;
  display: inline-block;
  .title{
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0px;
  }
  .title,.date{
    padding-left: 10px;
  }
}

.tableItem{
  width: 100%;
  margin-bottom: 16px !important;
  display: inline-block;
  .title{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
}

.editable-cell {
  position: relative;
}

.editable-cell-value-wrap {
  padding: 5px 12px;
  cursor: pointer;
}

.editable-row:hover .editable-cell-value-wrap {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 4px 11px;
}

[data-theme='dark'] .editable-row:hover .editable-cell-value-wrap {
  border: 1px solid #434343;
}
.ant-pro-page-header-wrap-main .ant-pro-page-header-wrap-extraContent {
  display: flex;
  align-items: center;
  text-align: left !important;
}